*{
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background: #293462;
    display: flex;
    justify-content: center;
    align-items: center;
}

.di{
    position: absolute;
}
.a{
    width: 50px;
    height: 140px;
    background: #FF0000;
    left:150px;
    top:80px;
    border-radius: 0 40px 0 0;
    animation: circle 5s linear infinite;
}
.b{
    width: 50px;
    height: 140px;
    background: #FF0000;
    left:200px;
    top:80px;
    border-radius: 40px 0 0;
    animation: circle 5s linear infinite;
}
.c{
    width: 50px;
    height: 45px;
    background: #293462;
    left:150px;
    top:180px;
    border-radius: 0 45px 0 0;
    animation: circle 5s linear infinite;
}
.d{
    width: 50px;
    height: 45px;
    background: #293462;
    left:200px;
    top:180px;
    border-radius: 45px 0 0;
    animation: circle 5s linear infinite;
}
.e{
    width: 30px;
    height: 30px;
    background: #FF0000;
    left:200px;
    top:140px;
    border-radius: 0 40px 0 0;
    animation: circle 5s linear infinite;
}
